<section class="about section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading">Watch Me Work</h2>
        <div class="content">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?list=PLcDIj10D27Q8VHSvQWGKj_vzXEbceZoid" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
        </div>
    </div>
</section>